In [4]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [5]:
os.chdir(r"C:\Users\5luca\Documents\Python\Projects\United_States_Soilwetness\Soil Wetness Data Sets")

# Arizona

In [22]:
az_apache = pd.read_csv("AZ, Apache.csv")
az_apache.insert(1, "State/County", "AZ, Apache")
az_cochise = pd.read_csv("AZ, Cochise.csv", skiprows = 9 )
az_cochise.insert(1, "State/County", "AZ, Cochise")
az_coconino = pd.read_csv("AZ, Coconino.csv", skiprows = 9 )
az_coconino.insert(1, "State/County", "AZ, Coconino")
az_gila = pd.read_csv("AZ, Gila.csv", skiprows = 9 )
az_gila.insert(1, "State/County", "AZ, Gila")
az_graham = pd.read_csv("AZ, Graham.csv", skiprows = 9 )
az_graham.insert(1, "State/County", "AZ, Graham")
az_greenlee = pd.read_csv("AZ, Greenlee.csv", skiprows = 9 )
az_greenlee.insert(1, "State/County", "AZ, Greenlee")
az_lapaz = pd.read_csv("AZ, La Paz.csv", skiprows = 9 )
az_lapaz.insert(1, "State/County", "AZ, La Paz")
az_maricopa = pd.read_csv("AZ, Maricopa.csv", skiprows = 9 )
az_maricopa.insert(1, "State/County", "AZ, Maricopa")
az_Mohave = pd.read_csv("AZ, Mohave.csv", skiprows = 9 )
az_Mohave.insert(1, "State/County", "AZ, Mohave")
az_navajo = pd.read_csv("AZ, Navajo.csv", skiprows = 9 )
az_navajo.insert(1, "State/County", "AZ, Navajo")
az_pima = pd.read_csv("AZ, Pima.csv", skiprows = 9 )
az_pima.insert(1, "State/County", "AZ, Pima")
az_pinal= pd.read_csv("AZ, Pinal.csv", skiprows = 9 )
az_pinal.insert(1, "State/County", "AZ, Pinal")
az_sanacruz = pd.read_csv("AZ, Santa Cruz.csv", skiprows = 9 )
az_sanacruz.insert(1, "State/County", "AZ, Santa Cruz")
az_yavapai = pd.read_csv("AZ, Yavapai.csv", skiprows = 9 )
az_yavapai.insert(1, "State/County", "AZ, Yavapai")
az_yuma = pd.read_csv("AZ, Yuma.csv", skiprows = 9 )
az_yuma.insert(1, "State/County", "AZ, Yuma")

In [26]:
AZ_State = pd.concat([az_apache, az_cochise, az_coconino, az_gila, az_graham, az_greenlee, az_lapaz, az_maricopa, az_Mohave, az_navajo, az_pima, az_pinal, az_sanacruz, az_yavapai, az_yuma])
AZ_State.drop(['PARAMETER'], axis =1)

,State/County,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN
0,"AZ, Apache",2011,0.43,0.42,0.39,0.34,0.27,0.15,0.31,0.39,0.41,0.41,0.41,0.42,0.37
1,"AZ, Apache",2012,0.41,0.40,0.36,0.24,0.16,0.11,0.32,0.34,0.29,0.22,0.28,0.33,0.29
2,"AZ, Apache",2013,0.41,0.42,0.40,0.34,0.18,0.12,0.32,0.39,0.41,0.39,0.41,0.44,0.35
3,"AZ, Apache",2014,0.42,0.41,0.41,0.34,0.24,0.13,0.29,0.37,0.34,0.39,0.35,0.42,0.34
4,"AZ, Apache",2015,0.45,0.47,0.47,0.40,0.41,0.38,0.41,0.41,0.37,0.39,0.43,0.43,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,"AZ, Yuma",2017,0.40,0.40,0.37,0.23,0.14,0.09,0.16,0.19,0.18,0.10,0.10,0.17,0.21
7,"AZ, Yuma",2018,0.24,0.20,0.16,0.10,0.08,0.14,0.25,0.24,0.14,0.39,0.30,0.34,0.22
8,"AZ, Yuma",2019,0.36,0.34,0.33,0.18,0.12,0.09,0.09,0.15,0.23,0.19,0.23,0.42,0.23
9,"AZ, Yuma",2020,0.41,0.41,0.44,0.38,0.21,0.09,0.07,0.09,0.11,0.08,0.08,0.14,0.21
10,"AZ, Yuma",2021,0.25,0.35,0.21,0.11,0.09,0.09,0.18,0.32,0.21,0.17,0.12,0.22,0.20

# California

In [31]:
ca_almeda = pd.read_csv("CA, Almeda.csv")
ca_almeda.insert(1, "State/County", "CA, Almeda")
ca_alpine  = pd.read_csv("CA, Alpine.csv")
ca_alpine.insert(1, "State/County", "CA, Alpine")
ca_amador = pd.read_csv("CA, Amador.csv")
ca_amador.insert(1, "State/County", "CA, Amador")
ca_butte = pd.read_csv("CA, Butte.csv")
ca_butte.insert(1, "State/County", "CA, Butte")
ca_calaveras = pd.read_csv("CA, Calaveras.csv")
ca_calaveras.insert(1, "State/County", "CA, Calaveras")
ca_colusa = pd.read_csv("CA, Colusa.csv")
ca_colusa.insert(1, "State/County", "CA, Colusa")
ca_contracosta = pd.read_csv("CA, ContraCosta.csv")
ca_contracosta.insert(1, "State/County", "CA, Contra Costa")
ca_delnorte = pd.read_csv("CA, Del Norte.csv")
ca_delnorte.insert(1, "State/County", "CA, Del Norte")
ca_eldorado = pd.read_csv("CA, El Dorado.csv")
ca_eldorado.insert(1, "State/County", "CA, El Dorado")
ca_fresno = pd.read_csv("CA, Fresno.csv")
ca_fresno.insert(1, "State/County", "CA, Fresno")
ca_glenn = pd.read_csv("CA, Glenn.csv")
ca_glenn.insert(1, "State/County", "CA, Glenn")
ca_humbolt = pd.read_csv("CA, Humbolt.csv")
ca_humbolt.insert(1, "State/County", "CA, Humbolt")
ca_imperial = pd.read_csv("CA, Imperial.csv")
ca_imperial.insert(1, "State/County", "CA, Imperial")
ca_inyo = pd.read_csv("CA, Inyo.csv")
ca_inyo.insert(1, "State/County", "CA, Inyo")
ca_kern = pd.read_csv("CA, Kern.csv")
ca_kern.insert(1, "State/County", "CA, Kern")
ca_king = pd.read_csv("CA, Kings.csv")
ca_king.insert(1, "State/County", "CA, Kings")
ca_lake = pd.read_csv("CA, Lake.csv")
ca_lake.insert(1, "State/County", "CA, Lake")
ca_lassen = pd.read_csv("CA, Lassen.csv")
ca_lassen.insert(1, "State/County", "CA, Lassen")
ca_losangeles = pd.read_csv("CA, Los Angeles.csv")
ca_losangeles.insert(1, "State/County", "CA, Los Angeles")
ca_madera = pd.read_csv("CA, Madera.csv")
ca_madera.insert(1, "State/County", "CA, Madera")
ca_marin = pd.read_csv("CA, Marin.csv")
ca_marin.insert(1, "State/County", "CA, Marin")
ca_mariposa = pd.read_csv("CA, Mariposa.csv") 
ca_mariposa.insert(1, "State/County", "CA, Mariposa")
ca_mendocino = pd.read_csv("CA, Mendocino.csv")
ca_mendocino.insert(1, "State/County", "CA, Mendocino")
ca_merced = pd.read_csv("CA, Merced.csv")
ca_merced.insert(1, "State/County", "CA, Merced")
ca_modoc = pd.read_csv("CA, Modoc.csv")
ca_modoc.insert(1, "State/County", "CA, Modoc")
ca_mono = pd.read_csv("CA, Mono.csv")
ca_mono.insert(1, "State/County", "CA, Mono")
ca_monterey = pd.read_csv("CA, Monterey.csv")
ca_monterey.insert(1, "State/County", "CA, Monterey")
ca_napa = pd.read_csv("CA, Napa.csv")
ca_napa.insert(1, "State/County", "CA, Napa")
ca_nevada = pd.read_csv("CA, Nevada.csv")
ca_nevada.insert(1, "State/County", "CA, Nevada")
ca_orange = pd.read_csv("CA, Orange.csv")
ca_orange.insert(1, "State/County", "CA, Orange")
ca_placer = pd.read_csv("CA, Placer.csv")
ca_placer.insert(1, "State/County", "CA, Placer")
ca_plumas = pd.read_csv("CA, Plumas.csv")
ca_plumas.insert(1, "State/County", "CA, Plumas")
ca_riverside = pd.read_csv("CA, Riverside.csv")
ca_riverside.insert(1, "State/County", "CA, Riverside")
ca_sacramento = pd.read_csv("CA, Sacramento.csv")
ca_sacramento.insert(1, "State/County", "CA, Sacramento")
ca_sanbenito = pd.read_csv("CA, San Benito.csv")
ca_sanbenito.insert(1, "State/County", "CA, San Benito")
ca_sanbernardino = pd.read_csv("CA, San Bernardino.csv")
ca_sanbernardino.insert(1, "State/County", "CA, San Bernardino")
ca_sandiego = pd.read_csv("CA, San Diego.csv")
ca_sandiego.insert(1, "State/County", "CA, San Diego")
ca_sanfrancisco = pd.read_csv("CA, San Francisco.csv")
ca_sanfrancisco.insert(1, "State/County", "CA, San Francisco")
ca_sanjoaquin = pd.read_csv("CA, San Joaquin.csv")
ca_sanjoaquin.insert(1, "State/County", "CA, San Joaquin")
ca_sanluisobisbo = pd.read_csv("CA, San Luis Obisbo.csv")
ca_sanluisobisbo.insert(1, "State/County", "CA, San Luis Obisbo")
ca_sanmateo = pd.read_csv("CA, San Mateo.csv")
ca_sanmateo.insert(1, "State/County", "CA, San Mateo")
ca_santabarbara = pd.read_csv("CA, Santa Barbara.csv")
ca_santabarbara.insert(1, "State/County", "CA, Santa Barbara")
ca_santaclara = pd.read_csv("CA, Santa Clara.csv")
ca_santaclara.insert(1, "State/County", "CA, Santa Clara")
ca_santacruz = pd.read_csv("CA, Santa Cruz.csv")
ca_santacruz.insert(1, "State/County", "CA, Santa Cruz")
ca_shasta = pd.read_csv("CA, Shasta.csv")
ca_shasta.insert(1, "State/County", "CA, Shasta")
ca_sierra = pd.read_csv("CA, Sierra.csv")
ca_sierra.insert(1, "State/County", "CA, Sierra")
ca_siskiyou = pd.read_csv("CA, Siskiyou.csv")
ca_siskiyou.insert(1, "State/County", "CA, Siskiyou")
ca_solanao = pd.read_csv("CA, Solano.csv")
ca_solanao.insert(1, "State/County", "CA, Solano")
ca_sonoma = pd.read_csv("CA, Sonoma.csv")
ca_sonoma.insert(1, "State/County", "CA, Sonoma")
ca_stanislauis = pd.read_csv("CA, Stanislaus.csv")
ca_stanislauis.insert(1, "State/County", "CA, Stanislaus")
ca_sutter = pd.read_csv("CA, Sutter.csv")
ca_sutter.insert(1, "State/County", "CA, Sutter")
ca_tehama = pd.read_csv("CA, Tehama.csv")
ca_tehama.insert(1, "State/County", "CA, Tehama")
ca_trinity = pd.read_csv("CA, Trinity.csv")
ca_trinity.insert(1, "State/County", "Trinity")
ca_tulare = pd.read_csv("CA, Tulare.csv")
ca_tulare.insert(1, "State/County", "CA, Tulare")
ca_tuolumne = pd.read_csv("CA, Tuolumne.csv")
ca_tuolumne.insert(1, "State/County", "CA, Tuolumne")
ca_ventura = pd.read_csv("CA, Ventura.csv")
ca_ventura.insert(1, "State/County", "CA, Ventura")
ca_yolo = pd.read_csv("CA, Yolo.csv")
ca_yolo.insert(1, "State/County", "CA, Yolo")
ca_yuba = pd.read_csv("CA, Yuba.csv")
ca_yuba.insert(1, "State/County", "CA, Yuba")

In [33]:
CA_State = pd.concat([ca_almeda, ca_alpine, ca_amador, ca_butte,
                     ca_calaveras, ca_colusa, ca_contracosta, ca_delnorte, ca_eldorado,
                     ca_fresno, ca_glenn, ca_humbolt, ca_imperial, ca_inyo, ca_kern,
                     ca_king, ca_lake, ca_lassen, ca_losangeles, ca_madera, ca_marin, 
                     ca_mariposa, ca_mendocino, ca_merced, ca_modoc, ca_mono, ca_monterey, 
                     ca_napa, ca_nevada, ca_orange, ca_placer, ca_plumas, ca_riverside,
                     ca_sacramento, ca_sanbenito, ca_sanbernardino, ca_sandiego, ca_sanfrancisco,
                     ca_sanjoaquin, ca_sanluisobisbo, ca_sanmateo, ca_santabarbara, ca_santaclara,
                     ca_santacruz, ca_shasta, ca_sierra, ca_siskiyou, ca_solanao, ca_sonoma,
                     ca_stanislauis, ca_sutter, ca_tehama, ca_trinity, ca_tulare, ca_tuolumne,
                     ca_ventura, ca_yolo, ca_yuba])
CA_State.drop(['PARAMETER'], axis =1)

,State/County,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN
0,"CA, Almeda",2011,0.80,0.80,0.86,0.84,0.70,0.58,0.48,0.29,0.17,0.44,0.48,0.48,0.58
1,"CA, Almeda",2012,0.51,0.55,0.62,0.69,0.53,0.42,0.23,0.16,0.13,0.24,0.50,0.76,0.45
2,"CA, Almeda",2013,0.82,0.77,0.69,0.57,0.46,0.26,0.17,0.15,0.22,0.23,0.30,0.48,0.42
3,"CA, Almeda",2014,0.46,0.53,0.60,0.57,0.48,0.27,0.17,0.14,0.20,0.27,0.48,0.79,0.41
4,"CA, Almeda",2015,0.83,0.82,0.73,0.59,0.50,0.41,0.21,0.16,0.14,0.20,0.49,0.59,0.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,"CA, Yuba",2017,0.84,0.90,0.88,0.87,0.74,0.52,0.34,0.22,0.16,0.21,0.47,0.50,0.55
7,"CA, Yuba",2018,0.60,0.58,0.69,0.69,0.53,0.39,0.26,0.12,0.10,0.28,0.28,0.54,0.42
8,"CA, Yuba",2019,0.69,0.82,0.87,0.82,0.73,0.53,0.37,0.23,0.23,0.24,0.19,0.59,0.52
9,"CA, Yuba",2020,0.61,0.57,0.55,0.55,0.45,0.36,0.20,0.12,0.11,0.10,0.30,0.44,0.36
10,"CA, Yuba",2021,0.48,0.56,0.55,0.46,0.37,0.22,0.12,0.09,0.13,0.34,0.60,0.68,0.38